


html{
    background-color: #dbdbdb;
    background-image: url(Images/Mesh.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Readex Pro", serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.nav-links{
    display: none;

    @media screen and (min-width:850px) {
        Display: grid;
    }
}

.hamburger {
    background-color: none;
    border: none;
    font-size: 2rem;

    @media screen and (min-width:850px) {
        Display: none;
    }
}


.logo {
    width: 40px;
}

.logo2 {
    display: none;
}

body {
    margin: 20px 20px 20px 20px;
}

main {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1rem;
    box-sizing: border-box;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    display: grid;
    justify-items: center;
}



.picture img{
    width: 400px;
    box-shadow: 10px 10px;
}

main h1 {
    font-size: 2rem;
    color: black;
    font-weight: 900;
}

main .about {
    font-size: 1rem;
    color: black;
    font-weight: 300;
    margin-top: 4rem;
    line-height: 1.5;
}







footer {
    margin-top: 10rem;
    background-color: black;
    height: 50px; 
    padding: 1rem;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 200;
}



/*  RESPONSIVENESS */



@media screen and (min-width:850px) {


header {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.logo {
   display: none;
}

.logo2 {
    display: block;
}

    
nav {
    font-family: "Readex Pro", serif;
    font-weight:220;
    font-size: 1rem;
    grid-column: 3;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center; 
}

nav ul li {
    list-style-type: none;  
    text-align: center;
    width: 100%;
}

nav ul li a{
    text-decoration: none; 
    color: black;
}



}




@media screen and (min-width:1000px) {


    
    .logo {
        width: 350px;
    }



    .nav-links a {
        background-color: #ffffff;
        border: 2px solid black;
        padding: .2rem 1.2rem .2rem 1.2rem;
    }


    .nav-links a:hover {
        background-color: #e7ed73;
        box-shadow: 5px 5px;
    }
    
   

}



@media screen and (min-width:1200px) {

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-links a:focus {
        background-color: #eaeda5;
        box-shadow: none;
    }

    .logo2 {
        width: 400px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

   
}

